@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VRS</h1>
    <p class="lead">View our latest movie catalogue online before picking it up on our physical store!</p>
    <p><a href="~/Movies/Index" class="btn btn-primary btn-lg">View Movies &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Rental Policy</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
        <p><a class="btn btn-default" href="~/Enquiry/New">Learn more &raquo;</a></p>
    </div>
</div>