@model VideoRentalService.ViewModels.RandomMovieViewModel


@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 1 ? "popular" : null;
}


@*
    Only if the movie is popular, based on constraints above  does it then have the class of popular in the HTML block, useful when segregating in the future.
    This is to render HTML classes dynamically.
*@


<h2 class="popular">@Model.Movie.Name</h2>


@*Make sure that atleast someone has rented the movie before or else show none.*@
@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie before.</text>
}

else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}
